*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
id_ed25519*
*.pem
*.key
/node_modules
/public/bilanci/
/public/resarea/video/
/public/resarea/img_up/
/public/resarea/files/lavora_con_noi/
/public/build
/public/hot
/public/storage
/storage/
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
Thumbs.db
yarn-error.log
